
@{
    ViewBag.Title = "AnotherError";
}

<h2>AnotherError</h2>

<hgroup>
    <h1>Error i to kakyv.</h1>
    <h2>mamata si trakalo.</h2>
    <h2>The error is : @Model.Exception.Message come from @Model.ControllerName</h2>
</hgroup>